In [10]:
import pandas as pd
wine=pd.read_csv("C:\SkillFactory\учебный материал\data\wine_cleared.csv")
# Создадим новый признак price_round, означающий округлённую до целого числа цену за бутылку вина
wine['price_round']=wine['price'].round().astype(int)
# переменная с реуглярным выражением \d щзначет поиск чисел в диапозоне от 0-9 и {4} четырехзначное
regex='\d{4}'
# при помощи findall - находим все вхождения, а при помощи str.get(0) находим
#  первое значение из списка всех вхождений и добавлем в колонку
wine['year']=wine['title'].str.findall(regex).str.get(0)
# добавим еще признак если вино произведенно в сша то 1 иной вариант 0
wine['is_usa']=wine['country'].apply(lambda x: 1 if x=='US' else 0)
# добавим еще признак если вино произведенно в сша то 1 иной вариант 0
wine['is_france']=wine['country'].apply(lambda x: 1 if x=='France' else 0)
# добавим еще признак если вино произведенно в сша то 1 иной вариант 0
wine['is_italy']=wine['country'].apply(lambda x: 1 if x=='Italy' else 0)
# при помощи to_datetime мы преобразовали в датуБ а errors='coerce' преобразовали значение в
#  число а нечисловое значение в Nan
wine['year'] = pd.to_datetime(wine['year'], errors='coerce')
wine['old_wine']=wine['year'].apply(lambda x: 1 if x.year<2010 else 0)
# регулярное выражение \( означет начальный символ. ( группа захвата начало. '.' означет один
#  произвольный символ. '*' означет произвольное кол-во повторений одного символа. ? означет стоп
#  когда встретит конечный символ. ) группа захвата конец. \) конечный символ
regex2='\((.*?)\)'
wine['locality']=wine['title'].str.findall(regex2).str.get(0)
display(wine)

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:23: SyntaxWarning: invalid escape sequence '\('
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:6: SyntaxWarning: invalid escape sequence '\d'
<>:23: SyntaxWarning: invalid escape sequence '\('
C:\Users\govor\AppData\Local\Temp\ipykernel_21772\4021012334.py:2: SyntaxWarning: invalid escape sequence '\S'
  wine=pd.read_csv("C:\SkillFactory\учебный материал\data\wine_cleared.csv")
C:\Users\govor\AppData\Local\Temp\ipykernel_21772\4021012334.py:6: SyntaxWarning: invalid escape sequence '\d'
  regex='\d{4}'
C:\Users\govor\AppData\Local\Temp\ipykernel_21772\4021012334.py:23: SyntaxWarning: invalid escape sequence '\('
  regex2='\((.*?)\)'

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,title,variety,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,35.363389,Sicily & Sardinia,Etna,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,35,2013-01-01,0,0,1,0,Etna
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.000000,Douro,unknown,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,15,2011-01-01,0,0,0,0,Douro
2,2,US,"Tart and snappy, the flavors of lime flesh and...",unknown,87,14.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,14,2013-01-01,1,0,0,0,Willamette Valley
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.000000,Michigan,Lake Michigan Shore,Alexander Peartree,unknown,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,13,2013-01-01,1,0,0,0,Lake Michigan Shore
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.000000,Oregon,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,65,2012-01-01,1,0,0,0,Willamette Valley
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129966,129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.000000,Mosel,unknown,Anna Lee C. Iijima,unknown,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef),28,2013-01-01,0,0,0,0,Erben Müller-Burggraef
129967,129967,US,Citation is given as much as a decade of bottl...,unknown,90,75.000000,Oregon,Oregon,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation,75,2004-01-01,1,0,0,1,Oregon
129968,129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser,30,2013-01-01,0,1,0,0,Alsace
129969,129969,France,"A dry style of Pinot Gris, this is crisp with ...",unknown,90,32.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss,32,2012-01-01,0,1,0,0,Alsace
129970,129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.000000,Alsace,Alsace,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit,21,2012-01-01,0,1,0,0,Alsace

In [11]:
import pandas as pd
country_population=pd.read_csv("C:\SkillFactory\учебный материал\data\country_population.csv", sep=";")
#print(country_population[country_population['country']=='Italy'])
wine=wine.join(country_population.set_index('country'), on='country')
country_area=pd.read_csv("C:\SkillFactory\учебный материал\data\country_area.csv", sep=';')
wine_area=wine.join(country_area.set_index('country'), on='country')
wine['area_country']=wine_area['area']
display(wine[wine['title']=='Gård 2014 Grand Klasse Reserve Lawrence Vineyards Viognier (Columbia Valley (WA))'])

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:5: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_21772\4058599003.py:2: SyntaxWarning: invalid escape sequence '\S'
  country_population=pd.read_csv("C:\SkillFactory\учебный материал\data\country_population.csv", sep=";")
C:\Users\govor\AppData\Local\Temp\ipykernel_21772\4058599003.py:5: SyntaxWarning: invalid escape sequence '\S'
  country_area=pd.read_csv("C:\SkillFactory\учебный материал\data\country_area.csv", sep=';')

,Unnamed: 0,country,description,designation,points,price,province,region_1,taster_name,taster_twitter_handle,...,winery,price_round,year,is_usa,is_france,is_italy,old_wine,locality,population,area_country
94,94,US,"Barrel notes are prominent, with aromas of Cre...",Grand Klasse Reserve Lawrence Vineyards,88,22.0,Washington,Columbia Valley (WA),Sean P. Sullivan,@wawinereport,...,Gård,22,2014-01-01,1,0,0,0,Columbia Valley (WA,"333,022,386",9372610.0

In [12]:
import pandas as pd 

# инициализируем информацию о звонках
calls_list = [
    [460, '2013-12-17 04:55:39', '2013-12-17 04:55:44', '2013-12-17 04:55:45'],
    [12, '2013-12-16 20:03:20', '2013-12-16 20:03:22', '2013-12-16 20:07:13'],
    [56, '2013-12-16 20:03:20', '2013-12-16 20:03:20', '2013-12-16 20:05:04'],
    [980, '2013-12-16 20:03:20','2013-12-16 20:03:27', '2013-12-16 20:03:29'],
    [396, '2013-12-16 20:08:27', '2013-12-16 20:08:28','2013-12-16 20:12:03'],
    [449, '2013-12-16 20:03:20', '2013-12-16 20:03:25','2013-12-16 20:05:00'],
    [397, '2013-12-16 20:08:25', '2013-12-16 20:08:27', '2013-12-16 20:09:59'],
    [398, '2013-12-16 20:01:23', '2013-12-16 20:01:23', '2013-12-16 20:04:58'],
    [452, '2013-12-16 20:03:20', '2013-12-16 20:03:21','2013-12-16 20:04:55'],
    [440, '2013-12-16 20:03:20', '2013-12-16 20:04:26', '2013-12-16 20:04:32']
]

calls = pd.DataFrame(calls_list, columns = ['client_id',  'agent_date', 'created_at' ,'end_date'])

# преобразовываем признаки в формат datetime для удобной работы

calls['agent_date'] = pd.to_datetime(calls['agent_date'])
calls['created_at'] = pd.to_datetime(calls['created_at'])
calls['end_date'] = pd.to_datetime(calls['end_date'])

calls['duration'] = (calls['end_date'] - calls['created_at']).dt.seconds
calls['time_connection']=(calls['created_at']-calls['agent_date']).dt.seconds
calls['is_connection']=calls['duration'].apply(lambda x: 1 if x>10 else 0)
calls['time_diff']=calls['duration']+calls['time_connection']
calls=calls.drop(columns=['agent_date', 'created_at', 'end_date'], axis=1)
calls

   client_id  duration  time_connection  is_connection  time_diff
0        460         1                5              0          6
1         12       231                2              1        233
2         56       104                0              1        104
3        980         2                7              0          9
4        396       215                1              1        216
5        449        95                5              1        100
6        397        92                2              1         94
7        398       215                0              1        215
8        452        94                1              1         95
9        440         6               66              0         72

In [17]:
# Создайте признак количество дней с момента произведения вина — years_diff для датасета винных обзоров. 
# За дату отсчёта возьмите 12 января 2022 года. В ответ впишите максимальное количество дней с момента 
# произведения вина. Ответ округлите до целого числа.
# pd.to_datetime('2022-01-12') преобразовываем заданное значение строки в дату. dt.days находим кол-во дней
wine['years_diff']=(pd.to_datetime('2022-01-12')-wine['year']).dt.days
print(wine['years_diff'].max())

98627.0

In [20]:
import category_encoders as ce
import pandas as pd
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
ord_encoder = ce.OrdinalEncoder(mapping=[{
	'col': 'size',
	'mapping': {'xxs': 1, 'xs': 2, 's': 3, 
                'm': 4, 'l': 5, 'xxl': 6}
}])
data_bin = ord_encoder.fit_transform(clothing[['size']])
clothing = pd.concat([clothing, data_bin], axis=1)
clothing

   size   type  size
0   xxs  dress     1
1   xxs  skirt     1
2    xs  dress     2
3     s  skirt     3
4     m  dress     4
5     l  shirt     5
6     s   coat     3
7     m   coat     4
8   xxl  shirt     6
9     l  dress     5

In [24]:
import category_encoders as ce

ord_encoder = ce.OrdinalEncoder()
year_col = ord_encoder.fit_transform(wine['year'])
wine = pd.concat([wine, year_col], axis=1)
display(wine.info())

Warning: No categorical columns found. Calling 'transform' will only return input data.
<class 'pandas.core.frame.DataFrame'>
Index: 129972 entries, 0 to 129970
Data columns (total 30 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129972 non-null  int64
 1   country                129909 non-null  object
 2   description            129972 non-null  object
 3   designation            129972 non-null  object
 4   points                 129972 non-null  int64
 5   price                  129972 non-null  float64
 6   province               129909 non-null  object
 7   region_1               129972 non-null  object
 8   taster_name            129972 non-null  object
 9   taster_twitter_handle  129972 non-null  object
 10  title                  129972 non-null  object
 11  variety                129971 non-null  object
 12  winery                 129972 non-null  object
 13  price_round            129972 non-null  int32
 14  year                   125332 non-null  datetime64[ns]
 15  is_usa                 129972 non-null  int64
 16  is_france              129972 non-null  int64
 17  is_italy               129972 non-null  int64
 18  old_wine               129972 non-null  int64
 19  locality               119450 non-null  object
 20  population             129823 non-null  object
 21  area_country           129835 non-null  float64
 22  years_diff             125332 non-null  float64
 23  year                   125332 non-null  datetime64[ns]
 24  year                   125332 non-null  datetime64[ns]
 25  year                   125332 non-null  datetime64[ns]
 26  year                   125332 non-null  datetime64[ns]
 27  year                   125332 non-null  datetime64[ns]
 28  year                   125332 non-null  datetime64[ns]
 29  year                   125332 non-null  datetime64[ns]
dtypes: datetime64[ns](8), float64(3), int32(1), int64(6), object(12)
memory usage: 30.2+ MB

None