In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
# считали файл в переменную
countries_data=pd.read_csv("C:\SkillFactory\учебный материал\data\countries.csv", sep=";")
# выгрузим файл уже в другом формате в туже папку
countries_data.to_csv("C:\SkillFactory\учебный материал\data\countries.txt", index=False, sep=" ")
# считаем новый файл в переменную и вместо индексов укажем признак стран уменьшим кол-во признаков(колонок)
txt_df=pd.read_table("C:\SkillFactory\учебный материал\data\countries.txt", sep=" ", index_col="country")
display(txt_df)

<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\S'
<>:7: SyntaxWarning: invalid escape sequence '\S'
<>:9: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\2338032644.py:7: SyntaxWarning: invalid escape sequence '\S'
  countries_data=pd.read_csv("C:\SkillFactory\учебный материал\data\countries.csv", sep=";")
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\2338032644.py:9: SyntaxWarning: invalid escape sequence '\S'
  countries_data.to_csv("C:\SkillFactory\учебный материал\data\countries.txt", index=False, sep=" ")
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\2338032644.py:11: SyntaxWarning: invalid escape sequence '\S'
  txt_df=pd.read_table("C:\SkillFactory\учебный материал\data\countries.txt", sep=" ", index_col="country")

           population      area
country
Англия          56.29    133396
Канада          38.05   9984670
США            322.28   9826630
Россия         146.24  17125191
Украина         45.50    603628
Беларусь         9.50    207600
Казахстан       17.04   2724902

In [14]:
# пытаемся считать файл не зная кодировки
data=pd.read_csv("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", encoding_errors="replace", header=None)
display(data)
# определяем кодировку
# импортиуем субмодуль
from chardet.universaldetector import UniversalDetector
# создаем детектор
detector=UniversalDetector()

with open("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", "rb") as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break

print(detector.close())

# получим результат {'encoding': 'KOI8-R', 'confidence': 0.8773902118791048, 'language': 'Russian'}
# который говорит нам, что с вероятностью 87% что используется кодировка 'KOI8-R'
# считываем файл с указанием явной кодировки
data=pd.read_csv("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", encoding="KOI8-R", header=None)
display(data)

<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\S'
<>:21: SyntaxWarning: invalid escape sequence '\S'
<>:2: SyntaxWarning: invalid escape sequence '\S'
<>:10: SyntaxWarning: invalid escape sequence '\S'
<>:21: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\1421413460.py:2: SyntaxWarning: invalid escape sequence '\S'
  data=pd.read_csv("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", encoding_errors="replace", header=None)
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\1421413460.py:10: SyntaxWarning: invalid escape sequence '\S'
  with open("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", "rb") as fh:
C:\Users\govor\AppData\Local\Temp\ipykernel_10200\1421413460.py:21: SyntaxWarning: invalid escape sequence '\S'
  data=pd.read_csv("C:\SkillFactory\учебный материал\data\ErrorEnCoding.csv", encoding="KOI8-R", header=None)

            0                           1             2
0   User_943         Accumanst@gmail.com         ������
1   User_908           Advismowr@mail.ru         ������
2   User_962             Anachso@ukr.net      ���������
3   User_973            Antecia@inbox.ru          �����
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         ������
96  User_901          V2artierso@mail.ru    �����������
97  User_970            Vashoterlo@bk.ru        �������
98  User_965         Visuareda@yahoo.com        �������
99  User_921                Aavast@ya.ru         ������

[100 rows x 3 columns]

{'encoding': 'KOI8-R', 'confidence': 0.8773902118791048, 'language': 'Russian'}

            0                           1             2
0   User_943         Accumanst@gmail.com         Ижевск
1   User_908           Advismowr@mail.ru         Ижевск
2   User_962             Anachso@ukr.net      Краснодар
3   User_973            Antecia@inbox.ru          Пермь
4   User_902          Balliaryva@ukr.net
..        ...                         ...           ...
95  User_959    UpdatesCurious@yahoo.com         Тюмень
96  User_901          V2artierso@mail.ru    Арзангелтск
97  User_970            Vashoterlo@bk.ru        Воронеж
98  User_965         Visuareda@yahoo.com        Воронеж
99  User_921                Aavast@ya.ru         Ижевск

[100 rows x 3 columns]