In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import json
from pprint import pprint

products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
def apply_discounts(products, stocks):
    products.update (dict(
        (k, round(products[k]*(100-int(stocks[k][:-1]))/100,2))
        for k in products.keys() & stocks.keys()
    ) )  
    return products


print(apply_discounts(products, stocks))

## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [26]:
bronze_top=pd.DataFrame({
    'Country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    "Total": [516, 328, 3212, 1146, 415, 91, 117]
})
silver_top=pd.DataFrame({
    'Country': [ 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    "Total": [146, 45, 9, 17]
})
merged=bronze_top.join(
    silver_top.set_index("Country"),
    on="Country",
    how="inner",
    lsuffix="_bronze",
    rsuffix="_silver"
)
display(merged)

     Country  Total_bronze  Total_silver
3     Россия          1146           146
4    Украина           415            45
5   Беларусь            91             9
6  Казахстан           117            17

Теперь, когда таблица заполнена, создайте столбец day_power — ежедневная выработка солнечной энергии.

Далее создайте данные о средней ежедневной выработке энергии на каждый месяц-год.

Совет: для того чтобы выделить из даты год и месяц, проще всего будет воспользоваться методом аксессора dt.to_period('M'), который позволяет выделять периоды (в данном случае 'М' — месяц).

Затем сгруппируйте данные по периодам (год-месяц) и рассчитайте среднее в столбце day_power.

Сколько солнечной энергии в среднем в день выработали в марте 2017 года? Ответ округлите до целого.

In [40]:
# преобразуем файл в датафрейм, функция na_values показывает какие данные считаются пропущенными
# parse_dates преобразовывает столбец с датой в нужный формат
solar_data =pd.read_csv("C:\SkillFactory\учебный материал\data\solarpower.csv", na_values="-1", parse_dates=["date"])
# interpolate преобразует пропущенные значения средним арифметическим двух соседних
solar_data["cum_power"]=solar_data["cum_power"].interpolate()
# создаем новый столбец и при помощи функции diff находим разницу двух последовательных значений, fillna заполняе строки найдеными занченими
solar_data["day_power"]=solar_data["cum_power"].diff().fillna(0)
# resample вычленяем и группируем дату по месяцам и mean находим среднее значение по месяцу
print(round(solar_data.resample('M', on="date").mean()))

            cum_power  day_power
date
2017-01-31    20153.0        3.0
2017-02-28    20257.0        4.0
2017-03-31    20445.0       11.0
2017-04-30    20885.0       16.0
2017-05-31    21408.0       19.0
2017-06-30    22068.0       22.0
2017-07-31    22667.0       18.0
2017-08-31    23179.0       15.0
2017-09-30    23573.0       12.0
2017-10-31    23858.0        6.0
2017-11-30    23999.0        3.0
2017-12-31    24059.0        1.0
2018-01-31    24104.0        2.0
2018-02-28    24225.0        7.0
2018-03-31    24461.0        9.0
2018-04-30    24815.0       15.0
2018-05-31    25387.0       21.0
2018-06-30    25959.0       19.0
2018-07-31    26625.0       22.0
2018-08-31    27245.0       17.0
2018-09-30    27692.0       14.0
2018-10-31    28024.0        9.0

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_1376\1455169117.py:1: SyntaxWarning: invalid escape sequence '\S'
  solar_data =pd.read_csv("C:\SkillFactory\учебный материал\data\solarpower.csv", na_values="-1", parse_dates=["date"])
C:\Users\govor\AppData\Local\Temp\ipykernel_1376\1455169117.py:4: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  print(round(solar_data.resample('M', on="date").mean()))