In [1]:
# загружаем необходимые библиотеки
import pandas as pd
import numpy as np

from scipy import stats
import statsmodels.api as sm
from statsmodels import stats as sms

import matplotlib.pyplot as plt
import seaborn as sns
ds=pd.read_csv("C:\SkillFactory\учебный материал\data\ds_salaries.csv")
display(ds)

<>:11: SyntaxWarning: invalid escape sequence '\S'
<>:11: SyntaxWarning: invalid escape sequence '\S'
C:\Users\govor\AppData\Local\Temp\ipykernel_18160\3646956310.py:11: SyntaxWarning: invalid escape sequence '\S'
  ds=pd.read_csv("C:\SkillFactory\учебный материал\data\ds_salaries.csv")

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

work_year	Год, в котором была выплачена зарплата.
experience_level	Опыт работы на этой должности в течение года со следующими возможными значениями:
EN — Entry-level/Junior;
MI — Mid-level/Intermediate;
SE — Senior-level/Expert;
EX — Executive-level/Director.
employment_type	Тип трудоустройства для этой роли:
PT — неполный рабочий день;
FT — полный рабочий день;
CT — контракт;
FL — фриланс.
job_title	Роль, в которой соискатель работал в течение года.
salary	Общая выплаченная валовая сумма заработной платы.
salary_currency	Валюта выплачиваемой заработной платы в виде кода валюты ISO 4217.
salary_in_usd	Зарплата в долларах США (валютный курс, делённый на среднее значение курса доллара США за соответствующий год через fxdata.foorilla.com).
employee_residence	Основная страна проживания сотрудника в течение рабочего года в виде кода страны ISO 3166.
remote_ratio	Общий объём работы, выполняемой удалённо. Возможные значения:
0 — удалённой работы нет (менее 20 %);
50 — частично удалённая работа;
100 — полностью удалённая работа (более 80 %).
company_location	Страна главного офиса работодателя или филиала по контракту в виде кода страны ISO 3166.
company_size	Среднее количество людей, работавших в компании в течение года:
S — менее 50 сотрудников (небольшая компания);
M — от 50 до 250 сотрудников (средняя компания);
L — более 250 сотрудников (крупная компания).

In [ ]:
# Проверяем на наличие пропусков
display(ds.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

None

Пропусков не обнаруженно

In [ ]:
# создаем список с названием колонок
dubl_colums=list(ds.columns)
dubl_colums.remove('Unnamed: 0')
# удаляем дубликаты указав в функцию drop_duplicates параметр subset и передали в него список с именами колонок
ds_dedupped=ds.drop_duplicates(subset=dubl_colums)
print(f"обнаруженно и удаленно {ds.shape[0]-ds_dedupped.shape[0]} дубликата")

обнаруженно и удаленно 42 дубликатов

Обнаружили и удалили 42 дубликата

In [ ]:
# Находим и удалем не информативные признаки